/* You can add global styles to this file, and also import other style files */
/* https://scotch.io/tutorials/using-sass-with-the-angular-cli */
@import './variables';
@import './mixins';
// https://getbootstrap.com/docs/4.0/getting-started/theming/#introduction
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
// https://github.com/ng-select/ng-select
@import '~@ng-select/ng-select/themes/default.theme.css';

/* https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}
.clickable { 
  cursor: pointer; 
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}