/* You can add global styles to this file, and also import other style files */
/* https://scotch.io/tutorials/using-sass-with-the-angular-cli */
@import './variables';
@import './mixins';
// https://getbootstrap.com/docs/4.0/getting-started/theming/#introduction
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

/* https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
}
.clickable { 
  cursor: pointer; 
}